body {
    font-family: sans-serif;
    background-color: black;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

#miBoton {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    background-color: #007bff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}

#miBoton:hover {
    background-color: #0056b3;
}

#miBotonSecundario {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    background-color: #007bff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

#miBotonSecundario:hover{
    background-color: #0056b3;
}