body {
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  background-color: black;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 30px; /* espacio entre imagen y texto */
  flex-wrap: wrap; /* permite que se acomoden en pantallas pequeñas */
}

.avatar {
  width: 200px;
  aspect-ratio: 1/1; /* cuadrado automático */
  object-fit: cover;
  border-radius: 50%; /* redonda */
}

.texto {
  flex: 1; /* ocupa el espacio restante */
  min-width: 250px; /* asegura que no se haga muy angosto */
}
